body{
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
}
tr, th, td {
    border: 1px solid white;
    color: white;
}